*{
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", monospace;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 35px;
	margin-right: 25px;	

}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px; 
	border: 1px solid;
	transition: 0.5s ease;
	border: solid 1px;
	border-radius: 4px;

}

ul li a:hover{
	background-color: white;
	color: black;
	border-color: white;

}


.logo img{
	float: left; 
	width: 150px;
	height: auto;
	margin-left: 35px;
	margin-top: 25px;
}


.card1{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
	margin: auto;
	width: 400px;
	height: 400px;
	transition: 0.4s all;
	position: absolute;
	top: 45%;
	left: 20%;
	transform: translate(-50%, -50%);
}

.card1:hover{
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0);

}

.container1{
	padding:2px 16px;
	background-color: transparent;

}

.container1 p, h3{
	color: white;
	text-align:	left;
}

.card1 a{
	text-decoration: none;
}

.card1 p.textss{
	text-align: left;
}
