*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 35px;
	margin-right: 25px;	

}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px; 
	border: 1px solid;
	transition: 0.5s ease;
	border: solid 1px;
	border-radius: 4px;

}

ul li a:hover{
	background-color: white;
	color: black;
	border-color: white;

}

ul li.active a{
	background-color: white;
	color: black;
}

.logo img{
	float: left; 
	width: 150px;
	height: auto;
	margin-left: 35px;
	margin-top: 25px;
}

.title{
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: white;
	font-size: 60px;
}

.button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	text-decoration: none;
	color: white;
	padding: 10px 30px; 
	border: 1px solid white;
	transition: 0.5s ease;
}

.btn:hover{
	background-color: white;
	color: black;
}

.title2{
	position: absolute;
	top: 98%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title2 p{
	color: white;
	font-size: 10px;

}

.title3{
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title3 p{
	color: white;
	font-size: 10px;

}

.card1{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: auto;
	width: 270px;
	transition: 0.4s all;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.card1:hover{
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);

}

.container1{
	padding:2px 16px;
	background-color: transparent;

}

.container1 p{
	color: white;
}

.container1 h3{
	color: white;
}

.card2{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: auto;
	width: 270px;
	transition: 0.4s all;
	position: absolute;
	top: 60%;
	left: 28%;
	transform: translate(-50%, -50%);
}

.card2:hover{
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);

}

.container2{
	padding:2px 16px;
	background-color: transparent;

}

.container2 p{
	color: white;
}

.container2 h3{
	color: white;
}

.card3{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin: auto;
	width: 270px;
	transition: 0.4s all;
	position: absolute;
	top: 60%;
	left: 72%;
	transform: translate(-50%, -50%);
}

.card3:hover{
	box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);

}

.container3{
	padding:2px 16px;
	background-color: transparent;

}

.container3 p{
	color: white;
}

.container3 h3{
	color: white;
}
