*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 35px;
	margin-right: 25px;	

}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px; 
	border: 1px solid;
	transition: 0.5s ease;
	border: solid 1px;
	border-radius: 4px;

}

ul li a:hover{
	background-color: white;
	color: black;
	border-color: white;

}

ul li.active a{
	background-color: white;
	color: black;
}

.logo img{
	float: left; 
	width: 150px;
	height: auto;
	margin-left: 35px;
	margin-top: 25px;
}

.title{
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: white;
	font-size: 80px;
}

.button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	text-decoration: none;
	color: white;
	padding: 10px 30px; 
	border: 1px solid white;
	transition: 0.5s ease;
}

.btn:hover{
	background-color: white;
	color: black;
}

